.contenedor {
    display: flex;
    flex-direction: row;
    height: 100vh;
  }
  
  .izquierda {
    width: 25%;
    background-color: #75e26b;
    padding: 20px;
    border-right: 1px solid #ccc;
  }
  
  .derecha {
    width: 50%;
    padding: 20px;
  }
  