.Sucursal {
  padding: 20px;
}

.popupAgregarSucursal {
  background-color: #f3ed97;
  border: 1px solid #ccc;
  height: 90vhpx;
  width: 90vw; /* Establecer un ancho fijo */
  max-width: 90%; /* Asegurarte de que no sea demasiado ancho en pantallas pequeñas */
  max-height: 80%; /* Limitar la altura del popup */
  overflow-y: auto; /* Permitir scroll si el contenido es demasiado largo */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 200; /* Asegúrate de que esté encima del overlay */
}

.popupAgregarSucursal h2 {
  margin-top: 0;
}

/* Nueva clase para el overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100; /* Asegúrate de que esté detrás de los popups */
}
.botones{
  display: flex;
  justify-content: center;
  gap: 50px;
  margin: 15px;
}
.contenedorTitulo{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}